@import url(styles.css);
body {
    height: auto;
    align-items: flex-start;
}
.feed, .material-icons {
   color: var(--branco);
}
.menu__flutuante {
    margin-top: 5%;
}
.container__principal {
    margin-top: 5%;
}
.publicados__filtro {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;

    margin-top: 3rem;
}
.publicados__filtro__link {
   font-size: 1.375rem;
   transition: color 0.5s, text-decoration 0.5s;
}
.publicados__filtro__link:hover {
   text-decoration: underline;
   color: var(--cor-destaque);
}
 .posts__lista {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap:1.5rem;
    margin: 0 1% 5rem auto;
 }
 .foto__post__container {
    background-color: var(--cinza-medio);
    padding: 1.5rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    display: flex;
    justify-content: center;
 }
 .foto__post__container img {
   max-height: 18rem;
   border-radius: 2rem;
 }
 .info__post__container {
    background-color: var(--cinza-escuro);
    padding: 1rem;
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
 }
 .acoes__post__container {
   margin-top: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .botoes__post {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }
 .acao__post {
    background-color: transparent;
    border: none;

    color: var(--cinza-medio);
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: color 0.5s;
 }
 .acao__post:hover {
   color: var(--cor-destaque);
 }
 .acao__post:hover .material-icons {
   transform: scale(1.2);
 }
 .criador__post__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
 }
 @media screen and (max-width: 1395px) {
   .container__principal {
      align-content: center;
      width: 65%;
   }
   .post{
      width: 100%;
   }
   .publicados__posts {
      display: flex;
      justify-content: center;
   }
   .posts__lista {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }
 }
 @media screen and (max-width: 771px ) {
   body {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .container__principal{
      width: 85%;
      margin-bottom: 8rem;
   }
   .post img{
      max-width: 75%;
   }
}

@media screen and (max-width: 426px) {
   .post img{
      max-width: 95%;
   }
}
