@import url(/reset.css);

:root {
    --cor-destaque: #81FE88;
    --cor-destaque2: #BFFFC3;
    --verde-petroleo: #132E35;
    --grafite: #01080E;
    --cinza-escuro: #171D1F;
    --cinza: #3E3E3F;
    --cinza-medio: #888888;
    --cinza-claro: #BCBCBC;
    --offwhite: #E1E1E1;
    --cor-branca: #FFFFFF;
    --fonte-primaria: 'Prompt', sans-serif;
}

body {
    background: var(--grafite);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fonte-primaria);
    color: var(--offwhite);
}
img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

.container__principal {
    max-width: 62.25rem;
    display: flex;
    width: 50%;
    padding: 3.5rem 4.875rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    background: var(--cinza-escuro);
    gap: 2rem;
    margin: 10% auto;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 2s ease;
}
.container__principal.aparecer{
    opacity: 1;
    transform: translateY(0);
}
.login__titulo, .login__boas-vindas {
    font-family: var(--fonte-primaria);
}

.login__titulo {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
}

.login__boas-vindas {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.5;
}

.rodape, .autor {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.imagem__login {
    width: 45%;
    pointer-events: none;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    width: 100%;
    gap: 2rem;
    padding: 0 2rem;
}

.login__preencher {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.usuario__texto, .senha__texto {
    color: var(--offwhite);
    font-size: 1.125rem;
    line-height: 1.5;
}

.inserir__dados__usuario {
    padding: 0.5rem 1.5em;
    width: calc(100% - 3em);
    border-radius: 0.25rem;
    background: var(--cinza-medio);
    color: var(--cinza-escuro);
    font-size: 0.9375rem;
    line-height: 1.5;
    transition: border 0.5s, color 0.5s;
}
.inserir__dados__usuario:hover, .inserir__dados__usuario:focus {
    border: 2px solid var(--cor-destaque);
}
.acoes__login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -1em;
}

.lembrar {
    display: flex;
    gap: 0.25rem;
}

.botao__login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    background: var(--cor-destaque);
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 150%; 
    transition: background-color 0.5s, border 0.3s, color 0.3s;
}
.botao__login:hover {
    background-color: var(--cor-destaque2);
}
.botao__login:active{
    background-color: transparent;
    border: 1px solid var(--cor-destaque2);
    color: var(--cor-destaque);
}
.esqueceu__senha {
    color: var(--offwhite);
    font-size: 0.9375rem;
    line-height: 1.5;
    text-decoration: underline;
}

.outras__contas__texto__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.outras__contas__texto {
    color: var(--offwhite);
    text-align: center;
    font-size: 0.9375rem;
    line-height: 1.5;
    white-space: nowrap;
    margin: 0 1rem;
}
.outras__contas__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

hr {
    border: none;
    border-top: 2px solid var(--offwhite);
    width: 100%;
}

.simbolo__cima, .simbolo__baixo {
    position: fixed;
    z-index: -1;
    pointer-events: none;
    width: 20%;
}
.outras__contas__container {
    margin-top: -1.25em;
}
.conta {
    border: none;
    border-radius: 100em;
    background-color: transparent;
}
.conta__icone {
    width: 32px;
    height: 32px;
    transition: transform 0.5s ease;

}
.conta__icone:hover {
    transform: scale(1.2);
}
.conta__texto {
    color: var(--offwhite);
    font-size: 0.78125rem;
    line-height: 150%;
}
.criar__conta__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}
.conta__booleano {
    font-size: 0.9375rem;
    line-height: 150%;
}
.criar__conta__link {
    color: var(--cor-destaque);
    display: flex;
    gap: 0.75em;
    justify-content: center;
    font-size: 1.125rem;
    line-height: 150%;
    text-decoration: none;
}
.simbolo__cima {
    left: 5%;
    top: 0;
}

.simbolo__baixo {
    bottom: 0;
    right: 5%;
}
@media (max-width: 1431px) {
    .login__container {
        gap: 1.5rem;
        padding: 0;
    }
    .container__principal{
        width: 70%;
        background: var(--cinza-escuro);
        gap: 2rem;
        margin: 10% auto;
    }
}
@media (max-width: 857px) {
    .container__principal {
        flex-direction: column;
    }
}
@media (max-width: 626px) {
    .container__principal {
        width: 70%;
        padding: 1.5rem 2rem;
    }
}
@media (max-width: 626px) {
    .container__principal {
        width: 80%;
        padding: 1.5rem 0.75rem;
    }
}
